.container {
    display: flex;
    margin-top: 40px;
}

.cart {
    flex: 3;
    margin-right: 60px;
    margin-left: 10px;
}

.titleAmountCart {
    color: #7D879C;
    /*color: #282c34;*/
}

.amountCart {
    font-weight: bold;
    padding-left: 10px;
    color: #282c34;
}

.order {
    flex: 1;
}
