.container {
    display: flex;
    margin-top: 40px;
}

.cart {
    flex: 3;
    margin-right: 60px;
    margin-left: 10px;
}

.amountCart {
    font-weight: bold;
    padding-left: 10px;
}

.order {
    flex: 1;
}
