.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.title {
    color: #2B3445;
    margin-bottom: 5px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infoAboutOrder {
    max-height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    color: #2B3445;
    font-size: 14px;
    font-weight: 400;
}

.text {
    text-align: left;
    padding: 10px;
    color: #7D879C;
    font-size: 14px;
}

.text div {
    color: #2B3445;
    text-align: left;
}

.items {
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    color: #2B3445;
    font-size: 14px;
    font-weight: 400;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.name {
    color: #2B3445;
    font-weight: 500;
}

.image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 12px;
}

.secondColumn {
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.titleButtonBack {
    padding-right: 10px;
    color: #2B3445;
    cursor: pointer;
}


.date {
    padding-right: 10px;
    color: #7D879C;
    font-size: 14px;
}

.date div {
    padding-right: 10px;
    color: #2B3445;
    padding-bottom: 10px;
    font-size: 14px;
}

.textPrice {
    font-weight: 400;
    padding-bottom: 10px;
    color: #7D879C;
}

.amountCart {
    color: #7D879C;
    font-size: 16px;
}

.amountCart span {
    color: #2B3445;
    font-size: 16px;
    font-weight: 500;
}