.container {
    display: flex;
    flex-direction: column;
}

.title {
    color: #2B3445;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #2B3445;
}

.text {
    padding-right: 10px;
}

.amountCart {
    color: #2B3445;
}